.navlink-right {
	margin-right: 1em;
	float: right;
	position: relative;
	top: 5px;
}

.nav div:not(.container):before {
	content: none;
}

div.wpd {
	position: relative;
	display: inline;
	padding-top: 0;
	font-size: 14px;
	top: -1px;
	padding-right: 1em;
}

div.wpd::after {
	content: " \25BC";
}

.pulldown hr {
	margin: 1em auto;
	margin-left: -23px;
}

.pulldown h5 {
	margin: 0 auto;
}

div.wpd:hover::after {
	content: "\00a0\00a0\00a0\00a0";
}

.navbar-link.wpd li > a {
	color: white;
}

div.wpd:hover .pulldown {
	display: block;
}

.pulldown {
	display: none;
	background: black;
	width: 205px;
	position: absolute;
}

.pulldown>ul {
	margin-top: 4px;
	padding: 0 17px 17px 40px;
	line-height: 27px;
}

.indent {
	margin-left: 25px;
}

@media (max-width:500px) {
	.navlink-right {
		margin-right: 0;
		float: none;
		display: inline-block;
	}
	
	li {
		display: block;
	}
	
	.navbar {
		height: auto;
	}
	
	div.wpd {
		display: block;
		width: 100%;
		padding: 0.5em 0 0 0;
		margin-left: 0;
		position: relative;
		color: #aaa;
	}
	
	div.wpd:hover::after {
		content: none;
	}
	
	.indent {
		margin-left: 0;
	}
	
	div.wpd > .pulldown {
		width: 100%;
		position: relative;
		display: block;
	}
	
	.pulldown > ul {
		padding: 0;
		line-height: inherit;
		margin-bottom: 0;
		margin-left: 20px;
	}
	
	div.wpd::after {
		content: " ";
	}
}
