.navlink-right {
	margin-right: 1em;
	float: right;
}

div.wpd {
	position: relative;
	display: inline;
	padding-top: 0;
}

div.wpd::after {
	content: " \25BC";
}

div.wpd:hover::after {
	content: "\00a0\00a0\00a0\00a0";
}

.navbar-link.wpd li > a {
	color: white;
}

div.wpd:hover .pulldown {
	display: block;
}

.pulldown {
	display: none;
	background: black;
	width: 205px;
	position: absolute;
}

.pulldown>ul {
	margin-top: 4px;
	padding: 0 17px 17px 40px;
	line-height: 27px;
}

.indent {
	margin-left: 25px;
}

@media (max-width:500px) {
	.navlink-right {
		margin-right: 0;
		float: inherit;
	}
	
	li {
		display: block;
	}
	
	.navbar {
		height: auto;
	}
	
	div.wpd {
		display: block;
		text-align: center;
		width: 100%;
		padding: 0;
		margin-left: 0;
		position: relative;
	}
	
	.indent {
		margin-left: 0;
	}
	
	div.wpd > .pulldown {
		text-align: center;
		width: 100%;
		display: inherit;
	}
	
	.pulldown > ul {
		padding: 0;
		margin-bottom: 0;
	}
	
	div.wpd::after {
		content: " ";
	}
}
